.container {
  display: grid;
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-columns: 100px 100px; */

  /* Shortcut for the grid-template-rows 
     and grid-template-colums values */
  grid-template: repeat(3, 100px) / repeat(2, 100px);

  /* row-gap: 10px;
  column-gap: 10px; */
  /* Shortcut for row-gap and column-gap */
  gap: 10px;
  border: 3px solid lightgrey;
}

.box {
  background: gold;
}
