.container {
  display: flex;
  flex-direction: column;
}

.box {
  background: gold;
}

.box:nth-of-type(2) {
  background: dodgerblue;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .box {
    background: white;
  }
}

@media print {
  body {
    font-size: 12pt;
  }
}
