.images-container {
  display: grid;
  grid-gap: 10px;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .images-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .images-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .images-container img:nth-of-type(3) {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
