/* Exercise 14 - Table */
table {
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #427fef;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #eef7ff;
}

td {
  padding: 8px;
  border-bottom: 1px solid #c4dcf3;
}

/* Exercise 15 - Box */
.box {
  margin-top: 100px;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  background-color: tomato;
  border-radius: 8px;
  box-shadow: 10px 10px lightgrey;
}
