.container {
  border: 3px solid lightgrey;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}
