table {
  border-collapse: collapse;
}

thead,
tfoot {
  background-color: #427fef;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #eef7ff;
}

td {
  padding: 8px;
  border-bottom: 1px solid #c4dcf3;
}
